.intro__tags {
  margin: 0;
  padding: 38px 0 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
  font-size: var(--body-regular-20-font-size);
  line-height: var(--body-regular-20-line-height);
  color: var(--basic-second-tint-color);
}
