.intro__tags {
  margin: 0;
  padding: 38px 0 0;
  max-width: 954px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 78px;
  font-size: var(--body-regular-22-font-size);
  line-height: var(--body-regular-22-line-height);
  color: var(--basic-second-tint-color);
}
