.quiz__close-button {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 30px;
    width: 30px;    
    border: none;
    background: transparent;
    background-image: url('../../../images/close-button.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    right: 50px;
    top: 50px;
}

.quiz__close-button:hover {
    opacity: 0.6;
    cursor: pointer;
}