.contacts__phone {
    font-family: 'YS Display', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    color: black;
    margin-bottom: 12px;
}

.contacts__phone:hover {
    color: black;
}