.tasks__mentor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--basic-first-tint-color);
  border-radius: 0 25px 25px 0;
  color: #fff;
}
