.application__form-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: max-content 44px max-content 28px max-content;
  column-gap: 20px;
  grid-template-areas:
  'heading heading heading'
  '. . .'
  'fieldset fieldset fieldset'
  '. . .'
  '. steps button';
}

@media screen and (max-width: 1000px) {
  .application__form-wrapper {
    grid-template-columns: minmax(min-content, max-content);
    grid-template-rows: max-content 47px max-content 28px max-content max-content;
    grid-template-areas:
    'heading'
    '.'
    'fieldset'
    '.'
    'button'
    'steps';
    justify-items: center;
    align-items: center;
  }
}

@media screen and (max-width: 700px) {
  .application__form-wrapper {
    max-width: 354px;
  }
}
