.radio-container__text {
    margin: 0 0 0 26px;
    font-family:'YS Display', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: var(--body-regular-22-font-size-adopt);
    line-height: 1.3;
}
@media screen and (max-width: 1280px) {
    .radio-container__text {
        margin-left: calc(12px + (100vw - 768px)/(1280 - 768)*14);
    }
}
@media screen and (max-width: 768px) {
    .radio-container__text {
        margin-left: 12px;
    }
}