.team-stories {
  padding: 100px 0 154px calc(159 / 1440 * 100%);
  display: grid;
  grid-template-rows: repeat(3, minmax(min-content, max-content));
  grid-template-columns: 337px fit-content;
  grid-template-areas:
    'text slider'
    'btn slider'
    'btn slider';
}

.team-stories > .btn_size_l {
  grid-area: btn;
  margin-top: 91px;
  margin-bottom: 137px;
}

@media screen and (max-width: 1439px) {
  .team-stories {
    padding-top: calc(80px + (40 + 40 * .7) * (100vw - 768px) / 1439);
    padding-bottom: calc(80px + (74 + 74 * .7) * (100vw - 768px) / 1439);
    padding-left: calc(59px + (100 + 100 * .7) * (100vw - 768px) / 1439);
  }
}

@media screen and (max-width: 768px) {
  .team-stories {
    grid-template-areas:
      'text text'
      'slider slider'
      'btn btn';
  }

  .team-stories > .btn_size_l {
    margin-bottom: 0;
    margin-top: 32px;
    max-width: 325px;
  }
}

@media screen and (max-width: 390px) {
  .team-stories {
    padding-left: 18px;
  }

  .team-stories > .btn_size_l {
    margin-top: 34px;
    margin-left: 15px;
  }
}
