.team-stories {
  padding: 100px 0 154px;
  padding-left: calc(145 / 1440 * 100%);
  display: grid;
  grid-template-rows: minmax(min-content, auto);
  grid-template-columns: 337px auto;
  grid-template-areas:
  'text slider'
  'btn slider'
  'btn slider';
  overflow: hidden;
}

.team-stories > .btn_size_l {
  grid-area: btn;
  margin-top: 91px;
  margin-bottom: 137px;
}

@media screen and (max-width: 1439px) {
  .team-stories {
    padding-top: calc(80px + (40 + 40 * .7) * (100vw - 768px) / 1439);
    padding-bottom: calc(119.05323px - 2.48089vw);
    padding-left: calc(73px + (55 + 55 * .7) * (100vw - 768px) / 1439);
  }
}

@media screen and (max-width: 768px) {
  .team-stories {
    grid-template-areas:
    'text text'
    'slider slider'
    'btn btn';

    /* padding: 0; */
    /* margin-left: calc(73px + (55 + 55 * .7) * (100vw - 390px) / 768); */
  }

  .team-stories > .btn_size_l {
    margin-bottom: 0;
    margin-top: 61px;
    max-width: 325px;
  }
}

@media screen and (max-width: 390px) {
  .team-stories {
    padding-left: 18px;
  }

  .team-stories > .btn_size_l {
    margin-top: 41px;
  }
}
