.application__form-title {
  margin: 0;
  padding: 0;
  font-weight: var(--font-weight-medium);
  font-size: var(--h3-font-size-adopt);
  line-height: var(--h3-line-height);
}

@media screen and (max-width: 1439px) {
  .application__form-title {
    line-height: calc(35 / 30 * 100%);
  }
}

@media screen and (max-width: 1000px) {
  .application__form-title {
    font-weight: var(--font-weight-bold);
    font-size: 30px;
  }
}
