.intro__paragraph {
  margin: 0;
  max-width: 715px;
  padding: 20px 0 40px;
  font-size: var(--body-regular-20-font-size);
  line-height: var(--body-regular-20-line-height);
  text-align: center;
  color: var(--basic-second-tint-color);
}

@media screen and (max-width: 1439px) {
  .intro__paragraph {
    padding: 27px 0 48px;
    max-width: calc(463px + (252 + 252 * .7) * (100vw - 768px) / 1439);
    line-height: calc(24 / 20 * 100%);
    font-size: calc(17px + (3 + 3 * .7) * (100vw - 768px) / 1439);
  }
}

@media screen and (max-width: 767px) {
  .intro__paragraph {
    padding: 14px 0 36px;
    max-width: calc(312px + (151 + 151 * .7) * (100vw - 390px) / 767);
    line-height: 140%;
    font-size: 17px;
  }
}
