.about-grid__big-element {
    grid-area: big-element;
    background-color: #F0F2F3;
    border-radius: 25px;
    font-family: 'YS Display', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: .86;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.about-grid__big-element::after {
    content: url('../../../images/arrow-big.svg');
    position: absolute;
    left: 120px;
    top: 15px;
    /* box-shadow: 1px 1px 5px #000; */
  }
