.quiz {
    max-width: 1150px;
    margin: 0 auto;
    background-color: #F8F8F8;
    padding: 62px 50px 69px 106px;
    /* min-height: 405px; */
    box-sizing: border-box;
    position: relative;
    border-radius: 25px;
}