.tasks {
  padding-top: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  grid-template-rows: minmax(463px, auto);
  justify-content: space-between;
}

@media screen and (max-width: 1439px) {
  .tasks {
    grid-template-rows: minmax(320px, 367px);
    column-gap: 18px;
    padding-top: 35px;
  }
}

@media screen and (max-width: 767px) {
  .tasks {
    grid-template-rows: 368px 368px;
    grid-template-columns: 1fr 1fr;
    row-gap: 15px;
    grid-template-areas:
    'mentor mentor'
    'reviewer reviewer';
  }


}
