.tasks {
  padding-top: 15px;
  display: grid;
  grid-template-columns: minmax(300px, 1500px) minmax(300px, 1500px);
  column-gap: 30px;
  grid-template-rows: minmax(463px, auto);
  justify-content: space-between;
}
