.application__description {
  margin: 0;
  padding: 16px 0 40px;
  font-size: var(--additional-font-size);
  line-height: var(--additional-line-height);
}

@media screen and (max-width: 738px) {
  .application__description {
    padding: 18px 0 45px;
    font-size: 17px;
  }
}
