.mentor-or-reviewer-container__image {
    /* position: absolute;
    right: 0;
    z-index: -1; */
    background: transparent;
    background-image: url('../../../images/mentor-or-reviewer.png');
    background-repeat: no-repeat;
    width: 49%;
    height: 100%;
    background-position: center;
    background-size: contain;
}

@media screen and (max-width: 860px) {
    .mentor-or-reviewer-container__image {
        background-image: url('../../../images/mentor-or-reviever-vertical.png');
        width: 45%;
    }
}

@media screen and (max-width: 700px) {
    .mentor-or-reviewer-container__image {
        background-image: url('../../../images/mentor-or-reviewer.png');
        flex-direction: column;
        height: auto;
        min-height: 251px;
        width: 100%;
        /* height: 422px; */
        margin-bottom: 52px;
    }
}
