.popup-about__text {
    font-family: 'YS Text', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 17px;
}