.flip-card {
  background-color: transparent;
  perspective: 1000px;
  position: relative;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

@media screen and (max-width: 1170px) {
  .flip-card:hover .flip-card-inner {
    transform: none;
  }
  .flip-card:hover {
    opacity: .8;
  }
}
