.link_type_accent {
  padding: 13.25px 35.75px;
  background-color: var(--basic-first-tint-color);
  border-radius: 15px;
  color: #fff;
  font-family: 'YS Text';
  font-weight: var(--font-weight-medium);
  font-size: 16px;
  line-height: calc(20 / 16 * 100%);
}

.link_type_accent:hover {
  background-color: var(--complementary-fourth-tint-color);
}

.link_type_accent:active {
  background-color: var(--basic-second-tint-color);
}
