.tasks__title {
  margin: 0;
  font-weight: var(--font-weight-medium);
  font-size: var(--h3-font-size);
  line-height: var(--h3-line-height);
}

@media screen and (max-width: 1439px) {
  .tasks__title {
    font-size: calc(26px + (10 + 10 * .7) * (100vw - 768px) / 1439);
    line-height: 24px;
  }
}
