.footer {
    margin: 0 auto;
    max-width: 1150px;
    padding-top: 62px;
    padding-bottom: 20px;
    background-color: white;
}
@media screen and (max-width: 1236px) {
    .footer {
        margin: 0 43px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        margin: 0 calc(1px + ((100vw - 425px)/(768 - 425) * 43));
    }
}

@media screen and (max-width: 425px) {
    .footer {
        margin: 0 1px;
    }
}