.link {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

/* .link:hover {
    color: #264BE1;
    text-decoration: underline;
    В макете, наверное, другой оттенок у ховера
}
*/
