.header__nav {
  background-color: #fff;
  grid-column-start: 3;
  text-align: center;
  font-feature-settings: 'pnum', 'lnum' on;
}

@media screen and (max-width: 1063px) {
  .header__nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 90px;
    opacity: 0;
    visibility: hidden;
    grid-column-start: unset;
    transition: opacity .22s ease, visibility .22s ease;
  }

  .header__nav.active {
    opacity: 1;
    visibility: visible;
  }
}

@media screen and (max-width: 583px) {
  .header__nav {
    top: 118px;
  }
}
