.header__nav {
  background-color: #fff;
  grid-column-start: 3;
  text-align: center;
  font-feature-settings: 'pnum', 'lnum' on;
}

@media screen and (max-width: 1063px) {
  .header__nav {
    display: none;
    grid-column-start: unset;
  }
}
