.team-card-section-card__description {
  margin: 0;
  font-size: var(--additional-16-font-size);
  line-height: var(--additional-16-line-height);
  color: var(--basic-first-tint-color);
  font-family: 'YS Text';
}
