.team-stories__cards {
  margin: 0 0 0 30px;
  height: 526px;
  grid-area: slider;
  display: grid;
  grid-auto-flow: column;
  column-gap: 30px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.team-stories__cards::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 1439px) {
  .team-stories__cards {
    column-gap: calc(20px + (10 + 10 * .7) * (100vw - 768px) / 1439);
  }
}

@media screen and (max-width: 768px) {
  .team-stories__cards {
    margin-left: 0;
    column-gap: 20px;
    padding: 28px 0 0 0;
  }
}
