.team-stories__text-block {
  padding: 17px 17px 40px;
  display: flex;
  flex-direction: column;
  height: 50%;
}

@media screen and (max-width: 767px) {
  .team-stories__text-block {
    padding-top: 22px;
    padding-bottom: 47px;
  }
}
