.footer-top-column__item {
    font-family: 'YS Display', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
    /* margin-top: 6px; */
    margin-bottom: 12px;
}