.tasks__tutor-tasks {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  font-size: var(--body-regular-20-font-size);
  line-height: var(--body-regular-20-line-height);
}
