.header__menu {
  /* padding-left: calc(145 / 1440 * 100%);
  padding-right: calc(145 / 1440 * 100%); */
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;

}


