.about-grid__squared-element_with-arrow {

}

.about-grid__squared-element_with-arrow::after {
    content: url('../../../../images/arrow-small.svg');
    position: absolute;
    right: -15px;
    bottom: 25px;
    z-index: 2;
}