.intro__tag {
  max-width: 167px;
  min-width: 99px;
  text-align: center;
}

@media screen and (max-width: 650px) {
  .intro__tag:nth-child(4) {

    position: absolute;
    top: -22px;
  }
}

@media screen and (max-width: 470px) {
  .intro__tag:nth-child(2) {
    top: -22px;
    right: 182px;
    position: absolute;
  }
  .intro__tag:nth-child(4) {
    right: 52px;
  }
}
