.copyright__item {
    font-family:'YS Display', Arial, sans-serif;    
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    margin: 4px 0 4px 0;
}