.header__links {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  column-gap: 65px;
  font-family: 'YS Text';
  font-size: var(--additional-16-font-size);
  line-height: var(--additional-16-line-height);
  scroll-behavior: smooth;
}
