.footer-top {
    display: grid;
    grid-column-gap: 98px;
    grid-template-columns: 263px 197px 462px;
    /* grid-template-columns: calc(((100% - 88px) / 12) * 6 + 40px) calc(((100% - 88px) / 12) * 3 + 16px) calc(((100% - 88px) / 12) * 3 + 16px); */
    padding: 24px 17px 16px;
    justify-content: space-between;
    grid-template-rows: max-content;
}