.about-grid__squared-element {
    background-color: var(--basic-fourth-tint-color);
    border-radius: 25px;
    font-family: 'YS Display', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: .86;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}