.quiz__back-button {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 14.73px;
    width: 24.4px;    
    border: none;
    background: transparent;
    background-image: url('../../../images/arrow-back.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    left: 40px;
    top: 76px;
}

.quiz__back-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 1100px) {
    .quiz__back-button {
        left: calc(29px + (100vw - 768px)/(1100 - 768)*50);
        top: 34px;
    }
}
@media screen and (max-width: 768px) {
    .quiz__back-button {
        left: 29px;
    }
}