.popup-about__header {
    font-family: 'YS Display', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: .92;
    margin-top: 0;
    margin-bottom: 26px;
}