.footer-bottom-columns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    max-width: 954px;
    margin: 0 auto;
    padding: 18px 17px 24px;
    align-items: flex-start;
}