.section-subheader {
    /* font-size: var(--body-regular-22-font-size); */
    font-size: var(--body-regular-22-font-size-adopt);
    font-weight: 400;
    line-height: 1.29;
    text-align: left;
    /* max-width: 50%; */
    margin: 0;
}
