.intro {
  padding-top: 158px;
  padding-bottom: 100px;
  padding-left: calc(243 / 1440 * 100%);
  padding-right: calc(243 / 1440 * 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
