.mentor-or-reviewer {
    max-width: 1150px;
    margin: 160px auto;
    height: 467px;
    /* background-image: url('../../images/dilemma.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right; */
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
    position: relative;
}