.header {
  padding-top: 21px;
  padding-bottom: 12px;
  /* margin-left: calc(145 / 1440 * 100%);
  margin-right: calc(145 / 1440 * 100%); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1150px;
}
