.popup {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00000080;
    visibility: visible;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.6s, opacity 0.6s;
    /* transition: visibility 0s, opacity 1s ease-out; */
}